#room-title-box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-top: 30px;
    color: white;
}

#room-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

#match-type {
    display: flex;
    justify-content: center;
    align-items: center;
}