#player1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding-right: 70px;
    font-size: 40px;
}

#player2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 70px;
    font-size: 40px;
}

#board {
    padding: 0;
    position: relative;
    border-top: solid 2px ;
    border-bottom: solid 2px white;
    border-radius: 20px;
    height: 800px;
    flex: 0 0 1300px; 
    background: rgba(250, 250, 250, 0.2);
    backdrop-filter: blur(2px);
}

#game-board {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

@keyframes ball-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#ball {
    background-image: url("../images/ball-4.jpg");;
    background-size: cover;
}

#ball-spin {
    background-image: url("../images/ball-4.jpg");;
    background-size: cover;
    animation: ball-spin 0.5s linear infinite;
}