#start-text-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 300px;
    animation: fadeInOut 3s infinite, scaleUpDown 3s infinite;
}