#room-bottom {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 50px;
}

#quit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 150px;
    height: 50px;
    border-radius: 10px;
    margin-right: 50px;
    color: black;
    font-size: 20px;
    background: #909090;
    box-shadow: inset -4px -4px 4px 0px rgba(0, 0, 0, 0.25);
    /* transition: background 0.5s ease, box-shadow 0.5s ease; */
}

#quit-button:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 150px;
    height: 50px;
    border-radius: 10px;
    margin-right: 50px;
    color: black;
    font-size: 20px;
    background: linear-gradient(0deg,rgba(144, 144, 144, 1) 0%, rgb(100, 100, 100) 100%);
    box-shadow: inset -4px -4px 4px 0px rgba(0, 0, 0, 0.25);
    /* transition: background 0.5s ease, box-shadow 0.5s ease; */
}