#quit-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 450px;
    height: 250px;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    text-align: center;
    font-size: 25px;
    color: white;
    background: #6d6d6d;
    box-shadow: inset -4px -4px 4px 0px rgba(0, 0, 0, 0.25);
}

#quit-query {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;

}

#quit-popup-button-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 29px;
}

#quit-popup-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000;
    max-width: 35%;
    height: 50px;
    border-radius: 10px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#quit-popup-button:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 30%, rgba(102, 102, 102, 1) 100%);
    max-width: 35%;
    height: 50px;
    border-radius: 10px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}