@font-face {
    font-family: 'Neo';
    src: url('./font/NeoDunggeunmoPro-Regular.woff')
}

@keyframes move-effect {
    0% { background-position: 0 0, 0 100%; }
    100% { background-position: 0 -100%, 0 0; }
    /* 0% { transform: rotate(0); }
    100% { transform: rotate(360deg); } */
}

body {
    background-image: url(./images/space.jpg), url(./images/space.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Neo';
}

#screen-effect {
    animation: move-effect 10s linear infinite;
    overflow:hidden;
}